<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/public}">
<head>
    <title>회원가입</title>
</head>

<div class="sign-up-container" layout:fragment="page-content">
    <!-- content -->
    <section class="panel">
        <header class="panel-header">
            <h1 class="title">회원가입</h1>
        </header>
        <div class="panel-body">
            <div class="">필수 입력 항목</div>
            <form id="sign-up-form">
                <div class="field-container">
                    <div class="field">
                        <label for="email" class="label">이메일</label>
                        <div class="has-inline">
                            <div class="control is-expanded">
                                <input type="email" name="email" id="email" class="input" autocomplete="off">
                            </div>
                            <div class="control">
                                <button type="button" id="email-exists-btn" class="button is-primary is-outlined" disabled>
                                    중복 확인
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="password" class="label">비밀번호</label>
                        <div class="control">
                            <input type="password" name="password" id="password" class="input" autocomplete="off">
                        </div>
                        <span class="help">영문과 숫자, 특수문자를 모두 포함한 8~20자</span>
                    </div>
                    <div class="field">
                        <label for="password-confirm" class="label">비밀번호 확인</label>
                        <div class="control">
                            <input type="password" name="passwordConfirm" id="password-confirm" class="input" autocomplete="off">
                        </div>
                    </div>
                    <div class="field">
                        <label for="nickname" class="label">닉네임</label>
                        <div class="has-inline">
                            <div class="control is-expanded">
                                <input type="text" name="nickname" id="nickname" class="input" autocomplete="off">
                            </div>
                            <div class="control">
                                <button type="button" id="nickname-exists-btn" class="button is-primary is-outlined" disabled>
                                    중복확인
                                </button>
                            </div>
                        </div>
                        <span class="help">영문과 숫자를 모두 포함한 3~20자</span>
                    </div>
                    <div class="field">
                        <label for="name" class="label">이름</label>
                        <div class="control">
                            <input type="text" name="name" id="name" class="input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field">
                        <button type="button" id="sign-up-btn" class="button is-primary" disabled>가입하기</button>
                    </div>
                    <span class="is-block has-text-center has-text-muted">
                        가입된 계정이 있으신가요? <a href="/" class="has-text-emphasis is-underline">로그인</a>
                    </span>
                </div>
            </form>
        </div>
    </section>
</div>

<th:block layout:fragment="page-script">
</th:block>
</html>