<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/public}">
<head>
    <title>회원가입</title>
</head>

<div class="signup-wrapper" layout:fragment="page-content">
    <h1 class="title">회원가입</h1>

    <div class="caption has-text-right has-text-secondary">* 필수 입력 항목</div>
    <form id="signup-form">
        <div class="field-container">
            <!-- 이메일 -->
            <div class="field">
                <label for="email" class="label is-required">이메일</label>
                <div class="has-inline">
                    <div class="control is-expanded">
                        <input type="text" name="email" id="email" class="input" autocomplete="off" autofocus>
                    </div>
                    <button type="button" id="email-exists-btn" class="button is-primary is-outlined" disabled>중복 확인</button>
                </div>
            </div>

            <!-- 비밀번호 -->
            <div class="field">
                <label for="password" class="label is-required">비밀번호</label>
                <div class="control">
                    <input type="password" name="password" id="password" class="input" autocomplete="off">
                </div>
                <span class="help"><i class="icon">&#xe81c</i>영문, 숫자, 특수문자가 모두 포함된 8~20자</span>
            </div>

            <!-- 비밀번호 확인 -->
            <div class="field">
                <label for="password-confirm" class="label is-required">비밀번호 확인</label>
                <div class="control">
                    <input type="password" name="passwordConfirm" id="password-confirm" class="input" autocomplete="off">
                </div>
            </div>

            <!-- 닉네임 -->
            <div class="field">
                <label for="nickname" class="label is-required">닉네임</label>
                <div class="has-inline">
                    <div class="control is-expanded">
                        <input type="text" name="nickname" id="nickname" class="input" autocomplete="off">
                    </div>
                    <button type="button" id="nickname-exists-btn" class="button is-primary is-outlined" disabled>중복 확인</button>
                </div>
                <span class="help"><i class="icon">&#xe81c</i>영문과 숫자가 포함된 3~20자</span>
            </div>

            <!-- 이름 -->
            <div class="field">
                <label for="name" class="label is-required">이름</label>
                <div class="control">
                    <input type="text" name="name" id="name" class="input" autocomplete="off">
                </div>
            </div>
        </div>

        <div class="field-container">
            <div class="field">
                <button type="button" id="signup-btn" class="button is-primary" disabled>가입하기</button>
            </div>
            <div class="field">
                가입된 계정이 있으신가요? <a href="/" class="has-text-emphasis is-underlined-hover">로그인</a>
            </div>
        </div>
    </form>
</div>

<th:block layout:fragment="page-script">
    <script src="/js/pages/user/sign-up.js"></script>
</th:block>
</html>