 <!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/public}">
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/css/pages/user.css">
</head>

<div class="login-wrapper" layout:fragment="page-content">
    <section class="panel">
        <!--<header class="panel-header">
            <div class="has-img"></div>
        </header>-->

        <div class="panel-body">
            <form id="login-form">
                <div class="field-container">
                    <div class="field is-margin-bottom-1">
                        <input type="text" name="email" id="login-email" class="input" placeholder="이메일" autocomplete="off" autofocus>
                    </div>
                    <div class="field is-margin-bottom-1">
                        <input type="password" name="password" id="login-pwd" class="input" placeholder="비밀번호" autocomplete="off">
                    </div>
                    <div class="field">
                        <a href="#" class="has-text-primary is-underlined-hover">비밀번호를 잊으셨나요?</a>
                    </div>
                </div>

                <div class="field-container">
                    <div class="field">
                        <button type="button" id="login-btn" class="button is-primary">로그인</button>
                    </div>
                    <div class="field">
                        계정이 없으신가요? <a href="/sign-up" class="has-text-emphasis is-underlined-hover">가입하기</a>
                    </div>
                </div>

                <span class="or-divider">또는</span>

                <div class="field-container">
                    <div class="field">
                        <button type="button" id="kakao-btn" class="button is-kakao">
                            <span class="icon">
                                <img src="/images/social/ico-kakao-24.svg" alt="카카오">
                            </span>
                            <span>계정으로 시작하기</span>
                        </button>
                    </div>
                    <div class="field">
                        <button type="button" id="google-btn" class="button is-google-light">
                            <span class="icon">
                                <img src="/images/social/ico-google-24.svg" alt="구글">
                            </span>
                            <span>계정으로 시작하기</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<th:block layout:fragment="page-script">
    <script src="/js/pages/index.js"></script>
</th:block>
</html>