<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/public}">
<head>
    <title>로그인</title>
</head>

<div class="login-container" layout:fragment="page-content">
    <!-- content -->
    <section class="panel">
        <header class="panel-header">
            <div class="has-img is-margin-bottom-4">
                <img src="/images/ico-nepia-logo.png" alt="애플리케이션 로고">
            </div>
            <h1 class="title">로그인</h1>
        </header>
        <div class="panel-body">
            <form id="login-form">
                <div class="field-container">
                    <div class="field is-margin-bottom-1">
                        <input type="email" name="email" id="login-email" class="input" placeholder="이메일" autocomplete="off">
                    </div>
                    <div class="field is-margin-bottom-1">
                        <input type="password" name="password" id="login-pwd" class="input" placeholder="비밀번호" autocomplete="off">
                    </div>
                    <div class="is-block has-text-emphasis">
                        <a href="#" class=" is-underline-hover">비밀번호를 잊으셨나요?</a>
                    </div>
                </div>

                <div class="field-container">
                    <div class="field">
                        <button type="button" id="login-btn" class="button is-primary" disabled>로그인</button>
                    </div>
                    <div class="is-block has-text-center has-text-muted">
                        계정이 없으신가요? <a href="/sign-up" class="has-text-emphasis is-underline">회원가입</a>
                    </div>
                </div>
                <span class="or-divider">또는</span>
                <div class="field-container">
                    <div class="field">
                        <button type="button" id="kakao-btn" class="button is-kakao">
                            <span class="icon">
                                <img src="/images/social/ico-kakao-24.svg" alt="카카오">
                            </span>
                            <span>카카오 계정으로 시작하기</span>
                        </button>
                    </div>
                    <div class="field">
                        <button type="button" id="google-btn" class="button is-google-light">
                            <span class="icon">
                                <img src="/images/social/ico-google-24.svg" alt="구글">
                            </span>
                            <span>구글 계정으로 시작하기</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<th:block layout:fragment="page-script">
</th:block>
</html>